services:
  {{.Hyperdrive.BeaconNodeContainerName}}:
    image: {{.GetValue "server/containerTag"}}
    user: root
    container_name: {{.ModuleComposeProject}}_bn
    restart: unless-stopped
    stop_grace_period: 3m
    {{- $p2p := (or .Hyperdrive.LocalBeaconClient.P2pPort.String "9001")}}
    ports:
      - "{{$p2p}}:{{$p2p}}/udp"
      - "{{$p2p}}:{{$p2p}}/tcp"
      {{- if eq .Hyperdrive.LocalBeaconClient.BeaconNode.String "lighthouse"}}
      - "{{.Hyperdrive.LocalBeaconClient.Lighthouse.P2pQuicPort}}:{{.Hyperdrive.LocalBeaconClient.Lighthouse.P2pQuicPort}}/udp"
      {{- end}}
      {{- range $entry := .Hyperdrive.GetBnOpenPorts}}
      - "{{$entry}}"
      {{- end}}
    volumes:
      - {{.Hyperdrive.BeaconNodeDataVolume}}:/ethclient
      - /usr/share/hyperdrive/scripts:/usr/share/hyperdrive/scripts:ro
      - /var/lib/hyperdrive/data/{{.Hyperdrive.ProjectName}}:/secrets:ro
    networks:
      - net
      {{- range $network := .Hyperdrive.GetAdditionalDockerNetworks}}
      - {{$network}}
      {{- end}}
    environment:
      - ETH_NETWORK={{.GetValue "server/network"}}
      - CLIENT={{.GetValue "localBeaconClient/beaconNode"}}
      - EC_HTTP_ENDPOINT={{.GetValue "externalExecutionClient/httpUrl"}}
      - EC_WS_ENDPOINT={{.GetValue "externalExecutionClient/wsUrl"}}
      - EC_ENGINE_ENDPOINT=http://{{.GetValue "localExecutionClient/hostName"}}}:{{.GetValue "localExecutionClient/enginePort"}}
      - EC_ENGINE_WS_ENDPOINT=ws://{{.GetValue "localExecutionClient/hostName"}}}:{{.GetValue "localExecutionClient/enginePort"}}
      - BN_P2P_PORT={{.GetValue "localBeaconConfig/p2pPort"}}
      - BN_API_PORT={{.GetValue "localBeaconConfig/httpPort"}}

      - BN_MAX_PEERS={{.Hyperdrive.GetBnMaxPeers}} # TODO: If/else if logic

      - ENABLE_METRICS=FALSE # TODO: Implement Metrics {{.Hyperdrive.Metrics.EnableMetrics}}
      - BN_METRICS_PORT=9100 # TODO: {{.Hyperdrive.Metrics.BnMetricsPort}}
      - EXTERNAL_IP={{.GetValue "externalIp"}} # TODO: {{.ExternalIP}}
      - CHECKPOINT_SYNC_URL={{.Hyperdrive.LocalBeaconClient.CheckpointSyncProvider}}
      - BN_ADDITIONAL_FLAGS={{.Hyperdrive.GetBnAdditionalFlags}}
      - ENABLE_BITFLY_NODE_METRICS=FALSE # TODO: Implement Metrics {{.Hyperdrive.Metrics.EnableBitflyNodeMetrics}}
      - BITFLY_NODE_METRICS_SECRET=FALSE # TODO: Implement Metrics {{.Hyperdrive.Metrics.BitflyNodeMetrics.Secret}}
      - BITFLY_NODE_METRICS_ENDPOINT=FALSE # TODO: Implement Metrics {{.Hyperdrive.Metrics.BitflyNodeMetrics.Endpoint}}
      - BITFLY_NODE_METRICS_MACHINE_NAME=FALSE # TODO: Implement Metrics {{.Hyperdrive.Metrics.BitflyNodeMetrics.MachineName}}
      - MEV_BOOST_URL=http://0.0.0.0/ # TODO: Implement MevBoost {{.Hyperdrive.MevBoostUrl}}
      {{- /* Client-specific values */}}
      {{- if eq .Hyperdrive.LocalBeaconClient.BeaconNode.String "teku"}}
      - TEKU_JVM_HEAP_SIZE={{.Hyperdrive.LocalBeaconClient.Teku.JvmHeapSize}}
      - TEKU_ARCHIVE_MODE={{.Hyperdrive.LocalBeaconClient.Teku.ArchiveMode}}
      {{- else if eq .Hyperdrive.LocalBeaconClient.BeaconNode.String "prysm"}}
      - BN_RPC_PORT={{.Hyperdrive.LocalBeaconClient.Prysm.RpcPort}}
      {{- else if eq .Hyperdrive.LocalBeaconClient.BeaconNode.String "nimbus"}}
      - NIMBUS_PRUNING_MODE={{.Hyperdrive.LocalBeaconClient.Nimbus.PruningMode}}
      {{- else if eq .Hyperdrive.LocalBeaconClient.BeaconNode.String "lighthouse"}}
      - BN_P2P_QUIC_PORT={{.Hyperdrive.LocalBeaconClient.Lighthouse.P2pQuicPort}}
      {{- end}}
    entrypoint: sh
    command: "/usr/share/hyperdrive/scripts/{{.Hyperdrive.GetBnStartScript}}"
    cap_drop:
      - all
    cap_add:
      - dac_override
    security_opt:
      - no-new-privileges
networks:
  net:
    {{- if .Hyperdrive.EnableIPv6.Value  }}
    enable_ipv6: true
    {{- end}}
  {{- range $network := .Hyperdrive.GetAdditionalDockerNetworks}}
  {{$network}}:
    external: true
  {{- end}}
volumes:
  {{.Hyperdrive.BeaconNodeDataVolume}}:
